.notice {
  background-color: skyblue;
  padding: 6px 55px;
  font-family: "REM", sans-serif;
}
.chew-logo{
  left: 5px;
}
.nav-link{
    color: rgb(47, 47, 47);
    font-family: 'Josefin Sans', sans-serif;  
    font-size: 16px !important;   
  }
  .nav{
    text-align: center !important; 
    align-items: center !important;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
}
.logo{
  flex-wrap: wrap;
}
.icons{
  align-items: center;
  flex-wrap: nowrap !important;
  padding: 20px 5px;
}
.icon{
  padding: 10px 10px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap !important;
}
.chew-logo{
  padding-left: 50px;
  padding-top: 17px;
}
.body{
  width: 100%;
}
.bottom-header{
  flex-wrap: nowrap !important;
width: 100%;
}
.nav-link:hover{
  color: #333;
}
.icon:hover{
  color: #333;
}
.toggle-button{
  position: absolute;
  top: 39px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
 height: 3px;
 width :100%;
 background-color: black;
 border-radius: 10px;   
}
.body{
  text-align: center !important;
}
h1{
  text-align: center !important;
  font-family: 'REM', sans-serif;
}
p{
  font-family: 'Comfortaa', cursive;
  font: bolder;
}
.launch{
  text-align: center;
  font-size: 40px;
  font:bolder;

}
.align-items-start{
  padding: 0% !important;
}
.carousel-control-prev-icon{
  background-color: black !important;
}
.carousel-control-next-icon{
  background-color: black !important;
}
.category{
  width: 250px !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;
}
.category-text{
  font-family: 'Comfortaa', cursive;
  font-size: 35px;
  padding: 20px 30px  40px 40px!important;
 display: flex !important;

}
.shop{
  display: flex;
  align-items: center !important;
  justify-content: center;
  padding: 40px 0px !important;
}
.newsletter{
  font-family: "REM", sans-serif;
text-align: center;
font-size: 40px;
opacity: 0.5;
padding-top: 30px;
}
.bd{
  border-bottom: 3px solid rgb(233, 229, 229);
}
.chevron{
  color: blueviolet;
  font-size: 50px;
}
.carousel-indicators{
  color: blueviolet !important;
}
.news{
  opacity: 0.5;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}